<app-navbar></app-navbar>
<div class="container">
	<div class="form-container">

		<div class="header">
			<h1>New Broadband Connection</h1>
		</div>

		<form action="" method="post">

			<div class="form-group">
				<div class="input-group">
					<label for="fname">First Name <span>*</span></label>
					<input type="text" name="firstName" value="Mario">
				</div>
				<div class="input-group">
					<label for="lname">Last Name <span>*</span></label>
					<input type="text" name="lastName">
				</div>
			</div>

			<div class="form-group">
				<div class="input-group">
					<label for="address">Address <span>*</span></label>
					<input type="text" name="address">
				</div>
				<div class="input-group">
					<label for="phone_no">Post-code <span>*</span></label>
					<input type="text" name="phone_no" value="876543321">
				</div>
			</div>

			<div class="form-group">
				<div class="input-group">
					<label for="city">City <span>*</span></label>
					<input type="text" name="city" value="London">
				</div>
			</div>
			<td>
				<a href="payment" class="btn btn-primary text-white px-5 py-3" style="border-radius: 7px;">Proceed For Payment</a>
			</td>

		</form>
	</div>
</div>