<app-navbar></app-navbar>
<div class="container-fluid">
    <h2>Billing information</h2>
    <div class="form-wrap">
      <form action="" id="new-form">
        <div class="form-container">
          <div class="toggle">
            <label class="sw sw-info sw-lg">
              <input type="checkbox">
              <div class="sw-pan"></div>
              <div class="sw-btn"></div>
            </label>
            <span class="chekbox-caption">Use contact information</span>
          </div>
          <div class="input-wrap google">
            <input type="text" placeholder="Billing address">
          </div>
          <div class="input-wrap">
            <input type="email" placeholder="Billing email">
          </div>
          <div class="card-name clearfix">
            <div class="card-first-name">
              <input type="text" placeholder="First name on card">
            </div>
            <div class="card-second-name">
              <input type="text" placeholder="Surname name on card">
            </div>
          </div>
          <div class="card-number">
            <input type="text" placeholder="Visa or MasterCard number">
          </div>
          <div class="card-term clearfix">
            <div class="card-date">
              <input type="date" placeholder="Card Expiry">
              <!--             <i class="fa fa-2x fa-calendar" aria-hidden="true"></i> -->
            </div>
            <div class="card-cvv">
              <input type="number" placeholder="CVV">
            </div>
          </div>
          <div class="btn-section clearfix">
            <button>Cancel</button>
            <td>
              <a href="recharge-successful" class="btn btn-primary text-white px-5 py-3" style="border-radius: 8px;">Proceed</a>
            </td>
          </div>
        </div>
      </form>
      <div id="eWAYBlock">
        <div style="text-align: center">
          <a href="https://www.eway.com.au/secure-site-seal?i=12s=3pid=eb86603f-d0cf-48bc-a48c-f2acef9ec2c9&theme=1" title="eWAY Payment Gateway" target="_blank" rel="nofollow">
            <img src="https://www.eway.com.au/developer/payment-code/verified-seal.ashx?img=12size=3pid=eb86603f-d0cf-48bc-a48c-f2acef9ec2c9&theme=1" alt="eWAY Payment Gateway">
          </a>
        </div>
      </div>
    </div>
  </div>